/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
body {
  margin: 0;
  font-family: Open-sans, sans-serif;
}
h1, h2, h3 {
  font-family: Raleway, Helvetica, sans-serif;
}
h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 0;
}
.padded {
  padding: 100px 0;
}
.wrapper-grey {
  background: #F4F4F4;
}


.features p {
    font-size: 15px;
    font-weight: lighter;
}

.features h2 {
    font-size: 20px;
    margin-bottom:10px;
}

.features img {
    width: 100px;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
