
.bag-description h3 {
  font-size: 26px;
  font-weight: 200;
}

.booking-request {
  border: 1px solid grey;
  border-radius: 3px;
  padding: 15px;
  margin: 5px;
}


.bag-owner {
  border-top: 1px solid grey;
  margin: 5px;
  padding: 5px;
}

.carousel-control {
  background-image: none !important;
  opacity: 1 !important;
}

.card-carousel {
  display: flex;
  justify-content: space-around;
  img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: flex !important;
  align-items: center !important;
}
}
