  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path("banner.jpg") %>');">
    <div class="banner-content">
      <div class="title">
        <h1>BAGOO</h1>
        <p>All the bags when you need them</p>
      </div>

      <div class="search">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-2">
              <div class="form-section">
                <div class="row">
                  <form role="form" method="get" action="/bags">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="sr-only" for="category">Category</label>

                        <select name="query" class="form-control" >
                          <option value="Backpack", selected="selected">Backpack</option>
                          <option value="Carry-on luggage", selected="selected">Carry-on luggage</option>
                          <option value="Handbag", selected="selected">Handbag</option>
                          <option value="Briefcase", selected="selected">Briefcase</option>
                          <option value="Suitcase", selected="selected">Suitcase</option>
                          <option value="Satchel", selected="selected">Satchel</option>
                          <option value="Gym bag", selected="selected">Gym bag</option>
                          <option value="Animal case", selected="selected">Animal case</option>
                          <option value="Trunk", selected="selected">Trunk</option>
                          <option value="Other", selected="selected">Other</option>
                          <option value="" disabled selected>Select your option</option>
                        </select>
                          <!-- ["Backpack", "Carry-on luggage", "Handbag", "Briefcase", "Suitcase", "Satchel", "Gym bag", "Animal case", "Trunk", "Other"] -->
                       <!--  added a few categories that need to be refined -->

                       <!--  storing the checkin and checkout in name="check in & out_query" -->

                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <label class="sr-only" for="checkin">From</label>
                        <div class="input-group">
                          <input type="text" class="form-control" id="checkin" placeholder="from" name="checkin_query">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <label class="sr-only" for="checkout">To</label>
                        <div class="input-group">
                          <input type="text" class="form-control" id="checkout" placeholder="to" name="checkout_query">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <button type="submit" style ="border-radius: 4px;" class="navbar-wagon-item navbar-wagon-button btn">Search</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
