<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
       <ul class="list-inline">
        <li><i class="fa fa-youtube" aria-hidden="true"></i></li>
        <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
        <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
        <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
      </ul>
    </div>
    <div class="col-sx-8 text-right">
      <p>@Bagoo is an awesome app made with love from the Socialive team</p>
    </div>
  </div>
</div>
</div>
