<div class="footer">
  <div class="container">
    <ul class="list-inline text-center">
      <li><i class="fa fa-youtube" aria-hidden="true"></i></li>
      <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
      <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
      <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
    </ul>
  </div>
  <div class=" text-center">
  <p class="fa fa-copyright" aria-hidden="true">Soclialive - Made with <span class="fa fa-heart-o" aria-hidden="true"></span> in London by Socialive team</p>
  </div>
</div>

