  <div class="text-center">
    <div class="padded">
      <h2>Get news froms us !</h2>
      <form action="#">
        <div class="form-group">
          <label for="your-email">Leave us your e-mail and get news from us</label>
        </div>
        <div class="form-inline">
          <input type="email" id="your-email" placeholder="bob@gmail.com" class="form-control">
          <input type="submit" value="Subscribe" class="btn btn-primary btn-bordered">
        </div>
      </form>
    </div>
  </div>
