<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h3>
      <%= @conversations.receipts.first.notification.subject %>
      </h3>
      ======================================
      <p><%= @conversations.receipts.first.notification.body %></p>
    </div>
  </div>
</div>
